<div class="login-form-container">
  <form action="/auth/login" method="POST">
    <i class="fa-solid fa-envelope"></i>
    <input type="email" name="email" placeholder="Email" class="login-form-inputs" />
    <i class="fa-solid fa-lock"></i>
    <input type="password" name="password" placeholder="Password" class="login-form-inputs" />

    {{#if error}}
    <p style="color:rgb(218, 90, 90)" class="login-error">{{ error }}</p>
    {{/if}}

    <button type="submit" class="login-form-btn">Login</button>
    <a href="/auth/signup" class="signup-link">Not a member yet? sign up here</a>

  </form>
</div>