<div class="profile-container">
    <div class="title-profile">
        <h1>Welcome <span class="strong-green">{{ user.username }}</span></h1>
        <img src="{{user.imageUrl}}" alt="profile picture" class="profile-img"></p>
        <h3>email: <span class="strong-green">{{user.email}}</span></h3>
    </div>
    <div class="btn-container">
        <form action="/user/edit" method="GET">
            <button class="profile-btn">Edit user</button>
        </form>
        <form action="/auth/logout" method="POST">
            <button type="submit" class="profile-btn">Log out</button>
        </form>
        {{#if user.isAdmin}}
        <form action="/movies/create" method="GET">
            <button class="profile-btn">Create a new movie</button>
        </form>
        {{/if}}
        {{#if user.isAdmin}}
        <a href="/user/userList" class=" see-users-btn"> See Users</a>
        {{/if}}
        {{#unless user.isAdmin}}
        <form action="/movies/myList" method="GET">
            <button class="profile-btn">My vote list</button>
        </form>
        {{/unless}}
    </div>
</div>