<h1 class="signup-heading">Create Account.</h1>


<form action="/auth/signup" method="POST" enctype="multipart/form-data" class="sign-up-form">
  <div class="form-inp">
    <label for="username">Username</label>
    <i class="fa-solid fa-user" id="user-icon-signup"></i>
    <input type="text" name="username" placeholder="JohnDoe88" id="username" />
  </div>

  <div class="form-inp">
    <label for="email">Email</label>
    <i class="fa-solid fa-envelope" id="envelope-signup"></i>
    <input type="email" name="email" placeholder="john@doe.com" id="email" />
  </div>

  <div class="form-inp">
    <label for="password" l>Password</label>
    <i class="fa-solid fa-lock" id="signup-password-lock"></i>
    <input type="password" name="password" placeholder="********" id="password" />
  </div>

  <div class="form-inp">
    <label for="confirm">Confirm password</label>
    <i class="fa-solid fa-lock" id="signup-confirm-lock"></i>
    <input type="password" name="password2" placeholder="********" id="confirm" />
  </div>

  <div class="form-inp">
    <label for="profile-photo-signup" id="profile-photo-signup-btn"><i class="fa-solid fa-upload"
        id="upload-icon-signup"></i>Choose a
      Photo</label>
    <input type="file" name="imageUrl" id="profile-photo-signup">
    <input type="text" name="existingImageSign" hidden value="/images/profile-icon-png-898.png">
  </div>



  <button type="submit" class="signup-btn">Create account</button>


</form>
{{#if error}}
<p style="color: red;" class="signup-error">{{error}}</p>
{{/if}}