<h1>¡Create a new account!</h1>

<div id="form">
  <form action="/auth/signup" method="POST" enctype="multipart/form-data">

    <label>Username</label>
    <input type="text" name="username" placeholder="JohnDoe88" />

    <label>Email</label>
    <input type="email" name="email" placeholder="john@doe.com" />

    <label>Password</label>
    <input type="password" name="password" placeholder="********" />

    <label>Confirm password</label>
    <input type="password" name="password2" placeholder="********" />

    <label>profile picture</label>
    <input type="file" name="imageUrl">
    <input type="text" name="existingImageSign" hidden value="/images/profile-icon-png-898.png">
    {{#if error}}
    <p style="color: red;">{{error}}</p>
    {{/if}}

    <button type="submit">Create account</button>

  </form>
</div>