<h1>Home page</h1>
<form action="/movies/searched-movie/" method="GET">
    <input type="text" name="movieName" />
    <button type="submit">Search for a movie</button>
</form>
<a href="/movies/{{movieFromDB.0._id}}">Recommend-Me</a>


{{#if user.isAdmin}}
<a href="/movies/create">Create a new movie</a>
<a href="/movies/edit">Edit a new movie</a>
<a href="/movies/delete">Delete a new movie</a>
{{/if}}


{{#if error}}
<p style="color: red">{{error}}</p>
{{/if}}