<h1>Home page</h1>
<form action="/movie-search" method="GET">
    <input type="text" name="movie" />
    <button type="submit">Search for a movie</button>
</form>
<a href="/movies">Recommend-Me</a>
{{#if error}}
<p style="color: red">{{error}}</p>
{{/if}}