<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/897a9967dd.js" crossorigin="anonymous"></script>
  <link href='/stylesheets/style.css' rel="stylesheet" />
  <title>Project module 2</title>
  <script>
    window.addEventListener("load", function() {
      document.getElementById("sortOptions").addEventListener("submit", function(e) {
        this.action = document.getElementById("sortRule").value;
      })
    })
  </script>
</head>

<body>
  {{{ body }}}
  <footer class="footer">

    {{#if user}}
    <a href="/auth/profile">
      <img src="{{user.imageUrl}}" alt="profile-logo" class="footer-logo-logedin">
    </a>
    {{/if}}


    {{#unless user}}
    <a href="/auth/profile">
      <img src="/images/profile-icon.jpeg" alt="profile-logo" class="footer-logo">
    </a>
    {{/unless}}
    <a href="/movies/search-movie"><img src="/images/magnifying.webp" alt="magnifying glass" class="footer-logo"></a>
    <a href="/"><img src="/images/start.png" alt="start logo" class="footer-logo"></a>
    <a href=""><img src="/images/filter.jpeg" alt="filer-icon" class="footer-logo"></a>
  </footer>
</body>

</html>