<div class="delete-container">
    <h3> <span class="strong-green"> Are you sure </span> you want to delete this account? <br> We are sad to let you
        go.</h3>

    <form action="/user/delete" method="POST">
        <button type="submit" class="delete-user-btn">Delete account</button>
    </form>

    <img src="/images/farewell.gif" alt="farewell gif" class="farewell-gif">
</div>