<div class="edit-usr-topPart">
    <h1 id="edit-user-h1">Edit <span id="usr-details-span"> details</span> </h1>
    <img src="{{userFromDB.imageUrl}}" class="profile-img edit-img" alt="profile picture">
</div>

<form action="/user/edit" method="POST" enctype="multipart/form-data" class="edit-form">
    <i class="fa-solid fa-user"></i>
    <input type="text" name="username" value="{{userFromDB.username}}" class="edit-input">
    <i class="fa-solid fa-envelope" id="envelope-edit"></i>
    <input type="email" name="email" value="{{userFromDB.email}}" class="edit-input">

    <label for="profile-inpt" id="profile-picture-btn"> <i class="fa-solid fa-upload"></i>Choose a Photo</label>
    <input type="file" name="profileImage" id="profile-inpt" value="{{userFromDB.imageUrl}}" class="edit-input-file">
    <button type="submit" id="edit-submit-btn">Edit</button>
</form>