<h1 class="filter-heading">Filter</h1>
<div class="filter-box">
    <form action="" class="filter-container">
        <label for="action" class="filter-option">

            <input type="checkbox" class="checkbox" id="action">
            <div class="checkbox-content action background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon">
                </div>
                <div class="filter-name"></div>
            </div>

        </label>

        <label for="drama" class="filter-option">

            <input type="checkbox" class="checkbox" id="drama">
            <div class="checkbox-content drama background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon"></div>
                <div class="filter-name"></div>
            </div>

        </label>

        <label for="fantasy" class="filter-option">

            <input type="checkbox" class="checkbox" id="fantasy">
            <div class="checkbox-content fantasy background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon"></div>
                <div class="filter-name"></div>
            </div>

        </label>

        <label for="comedy" class="filter-option">

            <input type="checkbox" class="checkbox" id="comedy">
            <div class="checkbox-content comedy background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon"></div>
                <div class="filetr-name"></div>
            </div>

        </label>

        <label for="mystery" class="filter-option">

            <input type="checkbox" class="checkbox" id="mystery">
            <div class="checkbox-content mystery background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon"></div>
                <div class="filetr-name"></div>
            </div>

        </label>

        <label for="adventure" class="filter-option">

            <input type="checkbox" class="checkbox" id="adventure">
            <div class="checkbox-content adventure background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon"></div>
                <div class="filetr-name"></div>
            </div>

        </label>

        <label for="war" class="filter-option">

            <input type="checkbox" class="checkbox" id="war">
            <div class="checkbox-content war background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon"></div>
                <div class="filetr-name"></div>
            </div>

        </label>

        <label for="Sci-Fi" class="filter-option">

            <input type="checkbox" class="checkbox" id="Sci-Fi">
            <div class="checkbox-content sci-fi background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon"></div>
                <div class="filetr-name"></div>
            </div>

        </label>

        <label for="romance" class="filter-option">

            <input type="checkbox" class="checkbox" id="romance">
            <div class="checkbox-content romance background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon"></div>
                <div class="filetr-name"></div>
            </div>

        </label>
        <label for="history" class="filter-option">

            <input type="checkbox" class="checkbox" id="history">
            <div class="checkbox-content history background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon"></div>
                <div class="filetr-name"></div>
            </div>

        </label>
        <label for="documentary" class="filter-option">

            <input type="checkbox" class="checkbox" id="documentary">
            <div class="checkbox-content documentary background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon"></div>
                <div class="filetr-name"></div>
            </div>

        </label>
        <label for="crime" class="filter-option">

            <input type="checkbox" class="checkbox" id="crime">
            <div class="checkbox-content crime background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon"></div>
                <div class="filetr-name"></div>
            </div>

        </label>


    </form>
    <form action="" class="btn-form">
        <button type="submit" class="submit-filter-btn">Submit</button>
    </form>
</div>