<h1 class="filter-heading">Filter</h1>
<div class="filter-box">
    <form action="/movies/filter" class="filter-container" method="POST">          
        <label for="action" class="filter-option" method="POST">

            <input type="checkbox" class="checkbox" id="action"  name="action" {{#if (contains user.preferences "1")}} checked {{/if}}>
            <div class="checkbox-content action background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon">
                </div>
                <div class="filter-name"></div>
            </div>

        </label>

        <label for="drama" class="filter-option">

            <input type="checkbox" class="checkbox" id="drama" name="drama" {{#if (contains user.preferences "12")}} checked {{/if}}>
            <div class="checkbox-content drama background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon"></div>
                <div class="filter-name"></div>
            </div>

        </label>

        <label for="fantasy" class="filter-option">

            <input type="checkbox" class="checkbox" id="fantasy" name="fantasy" {{#if (contains user.preferences "14")}} checked {{/if}}>
            <div class="checkbox-content fantasy background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon"></div>
                <div class="filter-name"></div>
            </div>

        </label>

        <label for="comedy" class="filter-option">

            <input type="checkbox" class="checkbox" id="comedy" name="comedy" {{#if (contains user.preferences "8")}} checked {{/if}}>
            <div class="checkbox-content comedy background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon"></div>
                <div class="filetr-name"></div>
            </div>

        </label>

        <label for="mystery" class="filter-option">

            <input type="checkbox" class="checkbox" id="mystery" name="mystery" {{#if (contains user.preferences "22")}} checked {{/if}}>
            <div class="checkbox-content mystery background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon"></div>
                <div class="filetr-name"></div>
            </div>

        </label>

        <label for="adventure" class="filter-option">

            <input type="checkbox" class="checkbox" id="adventure" name="adventure" {{#if (contains user.preferences "3")}} checked {{/if}}>
            <div class="checkbox-content adventure background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon"></div>
                <div class="filetr-name"></div>
            </div>

        </label>

        <label for="war" class="filter-option">

            <input type="checkbox" class="checkbox" id="war" name="war" {{#if (contains user.preferences "34")}} checked {{/if}}>
            <div class="checkbox-content war background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon"></div>
                <div class="filetr-name"></div>
            </div>

        </label>

        <label for="Sci-Fi" class="filter-option">

            <input type="checkbox" class="checkbox" id="Sci-Fi" name="scifi" {{#if (contains user.preferences "27")}} checked {{/if}}>
            <div class="checkbox-content sci-fi background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon"></div>
                <div class="filetr-name"></div>
            </div>

        </label>

        <label for="romance" class="filter-option">

            <input type="checkbox" class="checkbox" id="romance" name="romance" {{#if (contains user.preferences "26")}} checked {{/if}}>
            <div class="checkbox-content romance background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon"></div>
                <div class="filetr-name"></div>
            </div>

        </label>
        <label for="history" class="filter-option">

            <input type="checkbox" class="checkbox" id="history" name="history" {{#if (contains user.preferences "20")}} checked {{/if}}>
            <div class="checkbox-content history background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon"></div>
                <div class="filetr-name"></div>
            </div>

        </label>
        <label for="documentary" class="filter-option">

            <input type="checkbox" class="checkbox" id="documentary" name="documentary" {{#if (contains user.preferences "11")}} checked {{/if}}>
            <div class="checkbox-content documentary background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon"></div>
                <div class="filetr-name"></div>
            </div>

        </label>
        <label for="crime" class="filter-option">

            <input type="checkbox" class="checkbox" id="crime" name="crime" {{#if (contains user.preferences "10")}} checked {{/if}}>
            <div class="checkbox-content crime background-image">
                <div class="tick-mark"></div>
                <div class="filter-icon"></div>
                <div class="filetr-name"></div>
            </div>

        </label>

        <button type="submit" class="submit-filter-btn">Submit</button>

    </form>
</div>