<div>
    <img src="{{movieFromDB.0.translations.0.poster.og}}" alt="poster" width="400">
    <p> <strong>Overview:</strong> {{movieFromDB.0.translations.0.overview}}</p>
    <p> <strong>{{movieFromDB.0.year}}</strong></p>

</div>