<h1>My <span class="strong-green">Movie</span> list
    <span id="sortList">
        <form id="sortOptions">
            <select class="sortOptions" id="sortRule">
                <option value="/movies/myList/byDate">by date</option>
                <option value="/movies/myList/byPopularity">by popularity</option>
                <option value="/movies/myList/byRating">by rating</option>
            </select>
            <button type="submit" class="sort-btn"><span> SORT </span></button>
            <label><input type="checkbox" id="cbox1">See ignored</label>
        </form>
    </span>
</h1>
<div id="movieList">
    {{#each votes}}
        {{#if vote}}
        <a href="/movies/{{movieId._id}}"><img src="{{movieId.translations.0.poster.og}}" alt="poster" class="posterList-like"> </a>
        {{/if}}
        {{#unless vote}}
            {{#unless ignore}}
            <a href="/movies/{{movieId._id}}"><img src="{{movieId.translations.0.poster.og}}" alt="poster" class="posterList-dislike">
            </a>
            {{/unless}}
        {{/unless}}
    {{/each}}
</div>