<form action="/movies/searched-movie" method="GET" class="search-movie-form">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" name="movieName" class="search-movie-inp" placeholder="Search for a movie" />
    <button type="submit" class="search-movie-btn">Search</button>
    {{#if error}}
        <span class="error">{{error}}</span>
    {{/if}}
</form>

{{#if user.isAdmin}}
    <form action="/movies/api-search-by-name" method="GET" class="search-api-form">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" name="movieName" class="search-movie-inp" placeholder="Movie name" />
        <button type="submit" class="search-movie-btn">API Search</button>
    </form>
{{/if}}

{{#if user.isAdmin}}
    <form action="/movies/api-search-by-imdbId" method="GET" class="search-api-form">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" name="movieIMDBId" class="search-movie-inp" placeholder="Movie imdb_id" />
        <button type="submit" class="search-movie-btn">API Search</button>
    </form>
{{/if}}