<form action="/movies/searched-movie/" method="GET" class="search-movie-form">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" name="movieName" class="search-movie-inp" placeholder="Search for a movie" />
    <button type="submit" class="search-movie-btn">Search</button>
</form>

{{!-- <form action="/movies/search-movie/" method="GET" class="search-api-form">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" name="movieName" class="search-movie-inp" placeholder="Search for a movie in API" />
    <button type="submit" class="search-movie-btn">API Search</button>
</form> --}}